<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="./vendor/autoload.php"
    displayDetailsOnTestsThatTriggerWarnings="true"
    colors="true">
    <testsuites>
        <testsuite name="dto">
            <file>tests/DataTransferObjectTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
